<h1>{{title}}</h1>

<form method="POST">
    <fieldset>
        <label for="eventName">Event Name:</label>
        <input name="eventName" id="eventName"/>
    </fieldset>
    <button class="offset-3 btn btn-primary">Save</button>
</form>