<h1>{{title}}</h1>

{{!-- Add links to CRUD operations --}}
<a href="/events/add">Add a new event</a>

{{!-- Show countries details --}}
<table class="table table-striped table-hover">
    <thead>
        <th>eventName</th>
    </thead>
    <tbody>
    {{#each dataset}}
    <tr>
        <td>{{this.eventName}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>