<div class="text-center">
    <h1 class="display-4">Welcome to <b>Olympic Leaderboard</b></h1>
    <h3 class="text-h3"> An Official Website for the olympics leaderboard which will display all the countries and the medal won by them.  </h3>
    <h5> The page will display the countries and it differentiate all the medals in Gold, Silver and Bronze categories. The user can add the countries and respective medals if they have an account in the website. While a user can also register in this website through the registration page provided.</h5>
    <h5>The viewer can only be able to see the Read-Only data if they do not have an account in the website. While they can also log in through their GitHub account. </h5>
</div>